<!--<h1>from home file</h1>



Table

<table name="contactList">
	<thead>
		<th>Name</th>
		<th>Number</th>
		<th>Email</th>
		<th>Show Contact</th>
		<th>Add Contact</th>
		<th>Edit Contact</th>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" id="name" class="form-control" ng-model="contact.name" placeHolder="Enter Name"/></td>
			<td><input type="text" class="form-control" ng-model="contact.number" placeHolder="Enter Number"/></td>
			<td><input type="text" class="form-control" ng-model="contact.email" placeHolder="Enter Email"/></td>
			<td><button class="btn btn-info" ng-click="showContact()">Show Contact List</button></td>
			<td><button class="btn btn-info" ng-click="addContact()">Add Contact</button></td>		
			<td><button class="btn btn-info" ng-click="updateContact(contact._id)">Update Contact</button></td>		
		</tr>
		<tr ng-repeat="data in contactList">
			<td>{{data.name}}</td>
			<td>{{data.number}}</td>
			<td>{{data.email}}</td>
			<td><button class="btn btn-info" ng-click="deleteContact(data._id)">Delete Contact</button></td>
			<td><button class="btn btn-info" ng-click="editContact(data._id)">Edit Contact</button></td>
		</tr>
	</tbody>
</table>-->

 <md-input-container  layout-fill>
                 <input type="text" ng-model="searchedPhone" placeholder="Which phone R U looking 4..!! " />
                 </md-input-container>
<div ng-repeat="phone in phoneList | filter:searchedPhone">
    <div md-raised ng-class="phoneContainer">
        <img ng-src="{{phone.imageSrc}}" ng-class="phoneImg" />
    </div>
</div>